<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8">
    <title>Geek Shop </title>
    <!-- stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/favorite.css">
	<link rel="stylesheet" href="css/about.css">
	
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/0e40f8dd3d.js" crossorigin="anonymous"></script> 
	<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>

<!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</head>
<body>
<header id="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand color: red;" href="/"> GeekShop </a>
   <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
   >
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto my-auto">
         <li class="nav-item">
            <a class="nav-link" href="/">MAIN</a>
         </li>
         <li class="nav-item dropdown">
            <a
               class="nav-link dropdown-toggle"
               href="#"
               id="navbarDropdown"
               role="button"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
            >
               LOG IN
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="login"> <i class="fas fa-sign-in-alt"></i>   sign in</a>
               <a class="dropdown-item" href="login"><i class="fas fa-user-plus"></i>   sign up</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#"><i class="fas fa-question-circle"></i>   support</a>
            </div>
         </li>
      </ul>
	   <ul class="navbar-nav ml-auto my-auto">
	   <li class="nav-item">
            <a class="nav-link" href="favorite"><img src="img/fav.png" width="35px" height="auto;"></a>
         </li>
		  <li class="nav-item">
            <a class="nav-link" href="korzina.html"><img src="img/korz.png" width="35px" height="auto;"></a>
         </li>
	   </ul>
  	</div>
	</nav>
<header class="container">
      <div class="header__content">
        <form>
          <input type="text" class="header__search" placeholder="Search" />
        </form>
      </div>
    </header>
    <div class="container">
      <div class="movies"></div>
    </div>
    <script src="js/app.js"></script>
	
<!-- Footer -->

<footer class="bg-dark text-center text-white">
<div class="container p-4">
<section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/iGrim/geekshop-back" role="button"
        ><i class="fab fa-github"></i
      ></a>
</section>

<section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          

          <div class="col-md-5 col-12">
            
            <div class="form-outline form-white mb-4">
              <input id="myInput" type="email" id="form5Example21" class="form-control" />
				              <label class="form-label" for="form5Example21"> </label>

            </div>
          </div>

          <div class="col-auto">
            <button id="myBtn" onclick="javascript:alert('15% discount activated')" type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
        </div>
      </form>
</section>

<section class="" >
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Terms and conditions</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">></a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Privacy</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">></a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact us</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">></a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Items list</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">></a>
            </li>
          </ul>
        </div>
      </div>
</section>
</div>

<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="start.html">GeekShop</a>
</div>
</footer>
	
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/purecounter.js"></script>
<script src="js/comment.js"></script>
<script src="js/main.js"></script>

	
</body>
</html>